html,body{
  background-color: #280000;
  color: #FFCC33;
}

.home{
  .counter{
    width: 25px;
  }
}

.mid{
  ruby>rt {
    visibility: hidden;
  }
}

.head{
  background-color: midnightblue;
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: space-between;
}