html,body{
  background-color: #280000;
  color: #FFCC33;
}

.home{
  .body{
     display: flex;
     .right{
       position: relative;
       .bar{
         top:0;
         position: fixed;
         height: 100%;
         background-color: #fff;
         cursor: ew-resize;
       }
     }
  }
  .counter{
    width: 25px;
  }
  .head{
    position:fixed;
    width: 100%;
    background-color: midnightblue;
      display: flex;
      align-items: center;
      padding: 25px;
      justify-content: space-between;
  }
  
}

body.furigana-off{
  .mid{
    ruby>rt {
      visibility: hidden;
    }
  }
   
}

